

#grid div {
	background:#ccc;
	border:1px solid #000;
}


/* Hauptseite */

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4c4c4c;
	font-size:17px;
	line-height:1.4;
}

img {
	max-width:100%;
}

a {
	color:#055663;
}

a:hover {
	color:#055663;
}

/* FK HEADLINES */

.h2, h2, .h3, h3 {
	font-size:25px;
	font-weight:500;
	display:block;
	font-family: 'Rajdhani', sans-serif;
}

.h2, h2 {
	font-size:25px;
}

.h3, h3 {
	font-size:22px;
}

.btn {
	font-family: 'Rajdhani', sans-serif;
	font-weight:400;
	font-size:17px;
}

.container {
	max-width:1200px;
}

.btn.focus, .btn:focus {
	box-shadow:none;
}

/* Header / Navbar */

#head {
	width:100%;
	position:absolute;
	z-index:100;
	top:0;
	left:0;
}

#head nav {
	padding-left: 250px;
	padding-right: 200px;
}

#head nav .bg-navbar {
	background: #055663
}

#head nav a {
	padding-top: 20px;
}

#head nav ul {
	margin:0;
	padding:0;
}

#head nav ul li {
	list-style:none;
	display:inline;
}

#head nav ul li .dropdown-toggle:after {
	margin-left: 10px;
	vertical-align: 3px;
}

#head nav ul li .dropdown-menu {
	left:0px!important;
	border:none;
	min-width: 300px; /* Breite Drowdown Box */
}

#head nav ul li .dropdown-menu a {
	display:inline-block;
	font-family:'Rajdhani', sans-serif;
	font-weight:600;
	font-size:20px;
}

#head nav ul li a {
	color:#bfbfbf;
	font-family:'Rajdhani', sans-serif;
	font-size:20px;
	font-weight:600;
	display:inline-block;
	padding:10px;
	border-radius:5px;
	margin-left:1em;
	transition:0.3s all ease-in-out;
}

#head nav ul li a:hover {
	color:#5c4b27;
	background:#fff;
	text-decoration:none;
}

/* Hero Banner */

#hero {
	position:relative;
	height:720px;
	width:100%;
	background:url("../img/hero_image3.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

#hero:before {
	opacity:.9;
	z-index:50;
	position:absolute;
	top:0;
	left:0;
	content:'';
	height:917px;
	width:100%;
}

#hero .hero-content {
	position:absolute;
	top:50%;
	left:0;
	z-index:60;
	width:100%;
	color:#fff;
	transform:translateY(-50%);
	text-align:center;
}

.content {
	padding:40px 0;
	position:relative;
}

/* Card */

.card .zoom {
	padding: 5px;
	transition: transform .2s; /* Animation */
  }
  
 .card .zoom:hover {
	transform: scale(1.02); /* 2% zoom */
}

.card {
	background:rgba(0,0,0,.05);
	border:none;
	font-family: 'Rajdhani', sans-serif;
}

.card p {
	font-family: 'Source Sans Pro', sans-serif;
}

.card .btn-teaser {
	background:#5c4b3d;
	color:#fff;
	font-size:17px;
}

.card .btn-teaser:hover {
	background:#bfbfbf;
}

.card-title {
	font-size:22px;
	margin-bottom:10px;
	display:block;
}

/* Carousel */

.sliderbox {
	background:#5c4b3d;
	padding:80px 0;
	margin:40px 0;
}

/* Footer */

footer {
	width:100%;
	text-align:center;
	color:#bfbfbf;
	background:  #055663;
	padding:2em 0 1em 0;
}

footer a {
	color: #bfbfbf;
}

footer a img {
	margin: 10px;
}

footer p a  {
	margin-right: 10px;
}

footer .copyright{
	font-size: 12px;
}